{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <h3>{{ post.category.name }}</h3>
    <p>-{{ post.author.first_name }} {{ post.author.last_name }}</p>
    <div>{{ post.body }}</div>
    <h3>Comments</h3>
    <div>
        {% for comment in post.comment_set.all %}
            <p>{{ comment.comment }}</p>
            <p>{{ comment.user.first_name }} {{ comment.user.last_name }}</p>
        {% endfor %}
    </div>
    <h3>Likes:{{ post.likes.count }}</h3>
    <form action="{% url 'likes' %}" method="post">
    {% csrf_token %}
    <input name="post_id" value="{{ post.id }}" type="hidden">
        {% if user in post.likes.all %}
            <button>Unlike</button>
        {% else %}
            <button>Like</button>
        {% endif %}
    </form>

{% endblock %}