{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'create_post' %}">Add New</a>
    {% endif %}
{% for post in object_list %}
    <p>
        <a href="{% url 'detail_post' post.id %}">
            {{ post.title }}
        </a>
        <a href="{% url 'update_post_view' post.id %}">
           Update
        </a>
    <a href="{% url 'delete_post_view' post.id %}">
           Delete
        </a>
    </p>
{% endfor %}
{% endblock %}