{% extends "base.html" %}
{% block title %}
Categories
{% endblock %}
{% block content %}
    <a href="{% url 'create_category_form' %}"
    class="btn btn-danger"
    >
        Create New
    </a>
<ul>
{% for category in categories %}
    <li>
        <a href="{% url 'detail_category' id=category.id %}">
            {{ category.name }}</a>
        <a class="btn btn-primary" href="{% url 'update_category_form' id=category.id%}">
            Update
        </a>
    <a class="btn btn-danger" href="{% url 'delete_category' id=category.id %}">
            Delete
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}